.flex-container {
    display: flex;
}



img {
    height: 180px;
    width: 180px;
}

.image-pizza {
    cursor: pointer;
}

@media screen and (max-width:430px) {
    .add-tocart-btn {
        font-size: 12px !important;
    }
}